extends ../partials/layout

block contenthead
    script(src="/routes/docs.js")
    style.
        tr {
        font-family: "Nanum Gothic", sans-serif;
        font-size: 17px;
        font-weight: 600;
        
        }
        table{
            width : 60%
            height : 30px;
            margin : auto;
            text-align:center;
        }


block content
    h1= arr_doc
    table(border='1')
        br
        tbody
            tr
                td No.
                td 흑백/컬러
                td 가로/세로
                td 양면/단면
                td 날짜
                td 시간
                td 요청사항
                td 수정
                td 인쇄완료
                td 수령
                td 삭제


            each d, num in docs
               tr
                td=num+1
                    if d.colorchoice=="color" 
                        td 컬러
                    else
                        td 흑백
                    if d.sidechoice=="height"
                        td 세로
                    else
                        td 가로
                    if d.directionchoice=="one_side"
                        td 단면
                    else
                        td 양면
                        
                    td=d.rsv_date
                    td=d.time_frop
                    td= d.content
                    td
                        a(href='/docs/board/'+d._id) □
                        
                    td 
                        input(type="checkbox")
                    td
                        input(type="checkbox")
                    td 
                        input(type="button")
    br
    br
